<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src = "/javascripts/handleQueryIndex.js" ></script>
  </head>
  <body>
    <div class="header">
        <h1>
			Taxonomy Downloader
		</h1>
	
	    <div>
            <label for="yearL">Year</label>
		    &nbsp;
		    <input type="number" id = "year" name="year">
	    </div>
        <br>
		
        <div class="button2">
		    <label for="taxonL">Target Taxon</label>
                &nbsp;
            <input type="text" id = "name" name="taxon">
		    <br>
		    <br>
		    <button type="button" id = "searchButton">Buscar</button>
	    </div>
	    <div id = "resultadoName">
		    <p id = "notify"></p>
        </div>
        <div id = "resultadoId">
        </div>
    </div>
	<p>
	This website downloads taxonomies from our local repository in JSON format, also you can download images from ENCYCLOPEDIA OF LIFE if you want.
	</p>
  </body>
</html>
