<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8"/>
	<link href="/stylesheets/estilos.css" rel="stylesheet">
	<script type="text/javascript" src="/javascripts/fileSelection/verificacion.js"></script>
	<meta http-equiv="Access-Control-Allow-Origin" content="*"> 
    <title> Open Taxonomies </title>
</head>
<body>
	<h1>Select Taxonomies</h1>
	<p id="error_text" class="alert_display"></p>
	<div id="content" class="selection_body">	
		<table class ="table">
		<td width="30%"><label id="label">First Taxonomy</label></td>
		<td><input id="file1" class="file_input" type="file" name="Taxonomy1" value="Taxonomy" accept=".json"></input></br></td>
		<tr>
		<td width="30%"><label id="label">Second Taxonomy</label></td>
		<td><input id="file2" class="file_input"type="file" name="Taxonomy2" value="Taxonomy" accept=".json"></input></br></td>
		</table>
		<button onclick="VerificarDatos()" id="Save" class="important_button">Load</button>
		<button onclick="onDownload()" class="important_button">Download from Col</button>
		<button class="important_button">About</button>
	</div>
</body>
</html>