<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src = "/javascripts/xmlToJSON.js" ></script>
  <script src = "/javascripts/preprocesamiento.js" ></script>
  <script src = "/javascripts/countChildren.js" ></script>
	<script src = "/javascripts/hierachyThreeDownloader.js" ></script>
	<script src = "/javascripts/handleQueryIndex.js" ></script>

  </head>

  <style>

body {
  font: 10px sans-serif;
}

.bar rect {
  shape-rendering: crispEdges;
}

.bar text {
  fill: #999999;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

</style>

	<body>
		<script src="/javascripts/graphics.js"></script>
	</body>
</html>