<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
	 <script src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.js"></script>
	<script src = "/javascripts/drawMenu.js" ></script>
	<script src = "/javascripts/countChildren.js" ></script>
	<script src = "/javascripts/preprocesamiento.js" ></script>
	<script src = "/javascripts/drawTree.js" ></script>

  </head>
  <body>
    <div class="headerTittle">
		<h1>
			Taxonomy Visualizer
		</h1>
		<button class="vis_button" onclick="onSalir()">Salir</button>
    </div>
		<div id="sketch-holder">
		<!-- Our sketch will go here! -->
		</div>
	<div class="optionSquare">
		<input type="checkbox" name="lineas" onclick="onLineChange()" checked>Show lines</input>
		<input type="checkbox" name="cajas" onclick="onBoxChange()">Show boxes</input>
		<input type="checkbox" name="removes" onclick="onRemovedChange()">Removes</input>
		<input type="checkbox" name="add" onclick="onAddedChange()">Adds</input>
	</div>
	<div class="infoSquare">
		<p class="infoTitle"></p>
		<p class="infoBody" ></p>
	</div>
  </body>
</html>
