<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src = "/javascripts/xmlToJSON.js" ></script>
	<script src = "/javascripts/hierachyThreeDownloader.js" ></script>
	<script src = "/javascripts/handleQueryIndex.js" ></script>
  </head>
  <body>
    <div class="header">
		<h1>
			Taxonomy Downloader
		</h1>
	
		<button class="vis_button" onclick="onSalir()">Volver</button>
	<div>
		<label for="yearL">Year</label>
		&nbsp;
		<input type="number" id = "year" name="year">
	</div><br>
		<div class="button2">
		<label for="taxonL">Target Taxon</label>
			&nbsp;
		<input type="text" id = "name" name="taxon">
		<br>
		<br>
		<button type="button" id = "searchButton">Buscar</button>
	</div>
	<div id = "resultadoName">
		<p id = "notify"></p>
    </div>
    <div id = "resultadoId">
    </div>
    
    </div>
		<p>
		This webside downloads taxonomies from  CATALOGUE OF LIFE (www.catalogueoflife.org) in json format, also you can download images from ENCYCOPEDIA OF LIFE if you want.
		</p>  
	</div>
	</div>
  </body>
</html>
