:root {
  --grey-color: #7f7f7f;
  --main-bg-color: #7f7f7f;
  --main-color: #7f7f7f;
  --secondary-color: #CCCCCC;
  --accent-color: #4c4c4c;
}

*{
	background-color: var(--main-bg-color);
}

h1{
	margin-left: 20px;
	font-size: 16pt;
  color: white;
  text-align: center;
}

#label{
  color: white;
  font-size: 12pt;

}

#content{
	position: absolute;
	margin-top: 0%;
	padding: 0px;
	background-color: var(--main-color);
	width: 100%;
	height: 100%;
  vertical-align: center;
}

.Taxonomy{
  position: relative;
  width: 100px;
  height: 34px;
  left: 20px;
  top: 0px;
  color: white;
  font-size: 8px;
}

.file_input{
  width: 80%;
  font-size: 16pt;
  text-align: left;
  background: var(--accent-color);
  color: white;
  margin-bottom: 3%;
  text-align: left;
  margin-left: 0%;

}

.file_input:hover{
  background: black;
  color: white;
}

.alert_display{
  color: red;
  font-size: 18pt;
  text-align: center;
}

.important_button{
    float: bottom;
    margin-top: 3%;
    color: white;
    background: var(--accent-color);
    margin-left: 5px;
    margin-right: 5px;
    width: 20%;
    padding: 2px;
}

.selection_body{
  text-align: center
}

.file1{
  position: absolute;
  width: 230px;
  height: 34px;
  left: 140px;
  top: 0px;
  background:#4CAF50;
  color: white;
  font-size: 14px;
}

.file2{
  position: absolute;
  width: 230px;
  height: 34px;
  left: 140px;
  top: 50px;
  background:#4CAF50;
  color: white;
  font-size: 14px;
  border-radius: 5px;
}

.file1:hover{
  position: absolute;
  width: 230px;
  height: 34px;
  left: 140px;
  top: 0px;
  background:#000;
  color: white;
  font-size: 14px;
}

.file2:hover{
  position: absolute;
  width: 230px;
  height: 34px;
  left: 140px;
  top: 50px;
  background:#000;
  color: white;
  font-size: 14px;
  border-radius: 5px;
}

.Save{
  width: 10%;
  height: 34px;
  background:#4CAF50;
  color: white;
  font-size: 14px;
  border-radius: 5px;

}

.Save:hover{
  width: 10%;
  height: 34px;
  left: 160px;
  background:#000;
  color: white;
  font-size: 14px;
  border-radius: 5px;

}

.table{
  width: 50%;
  margin-left: 25%;

}

label{
  color: black;
  font-size: 24px;
  text-align: left;

}
