/** {
    margin:0;
    padding:0;
}*/

body {
	margin: 0px;
	padding: 0px;
	background: #4C830C;
	font-family: 'Raleway', sans-serif;
	font-size: 11pt;
	font-weight: 400;

}

.header{
    margin:auto;
    width: 35%;
    padding: 10px;
    text-align: center;
    margin-top: 10%;
    background-color: #7DB343;	
}
.footerText{
    position: absolute;
    bottom: 5px;
    text-align:center;
    left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	width: 80%;
	font-size: 3pt;
}

.headerTittle{
	
    padding: 2px;
    text-align: center;
    margin-top: 1%;
    font-size: 6pt;
    background-color: #7DB343;	
}
.vis_button{
    position:  absolute;
    top: 3%;
    right: 10%;
    font-size: 15pt;
    background-color: rgba(0,0,0,0);
    display: inline-block;
    border-radius: 5px;
}

.button2{
	margin-left: -55px;

}


p{
	margin-top: 18%;
	color: white;
        font-size: 17px;
}

.infoSquare{
    position: absolute;
    bottom: 2%;
    left: 0;
      right: 0;
      margin: 0 auto;
    width: 280px;
    height: 20%;
    color: #000;
    border-style: solid;
    border-color: #000000;
    border-radius: 6px;
    border-width: 2px;
    background-color: white;
}

.infoTitle{
    color: black;
    font-size: 15pt;
    margin: 0 auto;
    text-align:  center;
}

.infoBody{
    color: black;
    margin: 0 auto;
    font-size: 11pt;
}

.optionSquare{
    position: absolute;
    left: 2%;
    top: 4%
}